miniconda/
data/
unsloth_compiled_cache/
outputs/
slurm/
.cache/
.conda/
.anaconda/
.triton/
.ipynb_checkpoints/
.gsutil/
.ssh/
__pycache__/
*.pyc
*.log
*.zip
*.tar.gz
*.db
=2.4.0
NVIDIA-Linux-x86_64-550.54.15.run
aes-server
deep_mare.db
submission.csv
.bash_history
.config/
.boto
adc.json
.bashrc
